<div class="row">
  <div class="col-6 m-4">
    <table class="table border">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Name</th>
          <th class="h4">Channel</th>
          <th class="h4">Seasons</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let s of series">
          <td>
            <dd><b>{{s.id}}</b></dd>
          </td>
          <td>
            <dd><button class="border-0 bg-transparent text-primary" (click)="selectedSerie = s">{{s.name}}</button></dd>
          </td>
          <td>
            <dd>{{s.channel}}</dd>
          </td>
          <td>
            <dd>{{s.seasons}}</dd>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex">
      <p class="pe-2"><b>Seasons average: </b></p>
      <p>{{ average }}</p>
    </div>
  </div>

  <div *ngIf="selectedSerie" class="card m-4 p-0" style="max-width: 600px;">
    <img src="{{selectedSerie.poster}}" class="card-img-top" alt="{{selectedSerie.name}} poster">

    <div class="card-body">
      <h5>{{selectedSerie.name}}</h5>
      <p style="text-align: justify;">{{selectedSerie.description}}</p>
      <a [href]="selectedSerie.webpage" class="btn btn-primary" target="_blank">Website</a>
      <button class="btn btn-outline-secondary ms-2" (click)="selectedSerie = null">Close</button>
    </div>
  </div>
</div>